body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #30383B;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

html {
    height: 100%;
}

hr {
    background-color: white;
    border: none;
    height: 3px;
}

.nav-tabs {
    border: none;
}

.nav-tabs-effect {

}

.tab-content {
    background-color: #272E30;
    color: #fff;
    padding: 5px;
}

.tab-effect {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.tab-effect:before, .tab-effect:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
}

.tab-effect:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
}

.nav-tabs>li>a {
    color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #272E30;
    border-color: transparent;
    color: white;
}

.full-width {
    max-width: 100%;
}

.fix-outline:focus {
    outline: none;
}

.fix-spacing {
    padding-top: 2em;
}

.jumbotron {
    padding-top: 70px;
    font-size: 1.6em;
    min-height: 75%;
}

.jumbo-list {
    margin-top: 2em;
}

.jumbo-list-element+.jumbo-list-element {
    margin-top: 1em;
}

.register-section {
    border-left: 1px solid white;
}

.fix-tab {
    color: white;
}

.fix-tab:hover, .fix-tab:active {
    color: black;
}

.main-content {
    height: 100%;
    width: 100%;
}

.full-height-div {
    height: 100%;
}

.fix-color {
    color: black;
}

.parallax {
    /* The image used */
    background-image: url("/static/images/cosmic-dark-ages.jpg");
    /* Set a specific height */
    min-height: 75vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fix-overlapping {
    padding-top: 100px;
}

.fix-like {
    padding-top: .3em;
}

.text-not-uppercase {
    text-transform: none !important;
}

.error {
    color: red;
}

.comment-row {
    padding: 1em;
    margin-bottom: 2em;
    background: 0;
    background-color: #3B4447;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.fa-thumbs-o-up {
    margin-right: .5em;
}

.user-action {
    width: 100%;
    margin-left: 1em;
    background: none;
    border: 0;
}

.user-action:active, .user-action:focus, .user-action:hover {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.user-action+.user-action {
    margin-top: 1em;
}

.comment-action {
    background: none;
    border: 0;
}

.comment-action:active, .comment-action:focus, .comment-action:hover {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.fix-buttons {
    padding-top: 2em;
}

textarea {
    width: 100%;
    height: 400px;
    font-size: 17px;
    color: black;
}

input[type=submit] {
    font-size: 24px;
    color: white;
}

.like-form {
    margin-left: 1em;
    margin-top: 1.3em;
}

.main-title {
    display: block;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.main-title:hover {
    text-decoration: none;
    color: white;
}

.post-heading {
    border-bottom: 3px solid #666;
    max-width: 100%;
}

.post {
    width: 100%;
}

.post-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    max-width: 100%;
}

.post-user-date {
    margin-top: 3em;
    border-top: 2px solid #666;
}

.post-content {
    margin-top: 5px;
    justify-content: center;
}

.hoverable:hover {
    transition: box-shadow .6s;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.card {
    background: 0;
    background-color: #3B4447;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    color: white;
    height: 250px;
    margin-bottom: 1em;
    padding: 3px;
}

.card-block {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 1.5em;
    height: 20%;
    overflow-y: hidden;
    border-bottom: 1px solid white;
}

.card-text {
    height: 60%;
    overflow-y: hidden;
    border-bottom: 1px solid white;
}

.card-footer {
    height: 20%;
}

.comment-title {
    margin-bottom: 1em;
}

.comment-card-text {
    height: 90%;
    overflow-y: hidden;
    border-bottom: 1px solid white;
}

.comment-card-footer {
    height: 10%;
}

.front-input {
    background: transparent;
    text-align: center;
    font-size: 16px;
    margin-bottom: 3em;
    color: white;
}

.front-input::-webkit-input-placeholder {
    text-align: center;
    color: white;
}

.front-input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
    color: white;
}

.front-input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
    color: white;
}

.front-input:-ms-input-placeholder {
    text-align: center;
    color: white;
}

.form-control.front-input {
    border: 2px solid white !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
}

.front-input:active {
    border: 0;
    outline: none;
}

.form-control.front-input:focus {
    outline: none !important;
    -webkit-box-shadow: 0 1px 0 0 #4285F4 !important;
    box-shadow: 0 1px 0 0 #4285F4 !important;
    border-bottom: 2px solid #4285F4 !important;
}

.link-post {
    text-decoration: none;
}

.link-post:hover {
    text-decoration: none;
}

.rounded-corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav>li>a {
    color: white;
}

.navbar-custom {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 15px 0;
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-custom .scrolled-nav {
    padding: 0;
    background-color: #2572DE;
    background: #2572DE;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scrolled-nav {
    padding: 0;
    background-color: #2572DE;
    background: #2572DE;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav>.active {
    border-bottom: 3px solid !important;
    border-color: white;
    background: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    border-bottom: 3px;
    border-color: white;
    background: none;
}

.navbar-inverse .navbar-nav li a:hover {
  border-bottom: 2px solid white;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none;
    background-color: transparent;
    border: none;
}

.modal-dialog {
    color: black;
}
