

<header class="jumbotron parallax">
  <div class="container full-height-div">
    <div class="row text-center full-height-div">
      <div class="col-xs-12 col-md-8 full-height-div">
        <h2>Blog Name</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc metus, sagittis ut fringilla a, auctor non urna. Phasellus sodales felis tellus, pellentesque eleifend nulla imperdiet eget. Phasellus sollicitudin libero quis euismod tristique. Sed auctor finibus eros sit amet pharetra. Nam finibus, massa sed maximus finibus, nunc ante ultrices purus, vitae suscipit lorem turpis vel arcu. In dictum dapibus diam. Phasellus pretium enim at ex sollicitudin, et elementum urna blandit. Curabitur consectetur tincidunt magna vitae elementum. Aliquam hendrerit eu velit nec malesuada. Vivamus vitae ex eu felis egestas ornare at eu dolor.

Ut vel cursus sem. Curabitur ac tincidunt justo. Phasellus ultricies tellus nisl, a luctus dolor porttitor in. Vestibulum vitae nulla tincidunt, maximus lectus in, aliquam felis. Praesent cursus velit ornare magna varius tincidunt. Donec ut odio vel massa porttitor rutrum eu non nisl. Ut molestie velit hendrerit, elementum felis sed, consectetur justo.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 full-height-div register-section">
        <h2>Register</h2>
        <form method="post" action="/signup">
          <div class="form-group">
            <input type="text" class="form-control front-input" id="username" placeholder="Username" value="{{username}}" name="username"><span class="error">{{error_username}}</span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control front-input" id="password" placeholder="Password" name="password"><span class="error">{{error_password}}</span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control front-input" id="verify" name="verify" placeholder="Verify password"><span class="error">{{error_verify}}</span>
          </div>
          <div class="form-group">
            <input type="email" class="form-control front-input" id="email" placeholder="E-mail" value="{{email}}" name="email"><span class="error">{{error_email}}</span>
          </div>
          <button type="submit" class="btn btn-success pull-right text-uppercase">Register</button>
        </form>
      </div>
    </div>
  </div>
</header>
