<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
      <div class="pull-right">
        <span>{{p.rating | length}}</span>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    {{p._render_text | safe}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="pull-left post-user-date col-xs-12">
    <a href="/user/{{p.post_user_name}}">{{p.post_user_name}}</a>, {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>
</div>
