<div class="post">
    <div class="col-xs-12 post-heading">
        <div class="post-title">
            {{p.subject}}
        </div>
    </div>
    <div class="col-xs-12">
        {{p._render_text | safe}}
    </div>

    <div class="col-xs-12 post-user-date">
        <div class="pull-left">
            <a href="/user/{{p.user.name}}">{{p.user.name}}</a>,
            {{p.created.strftime("%b %d, %Y")}}
        </div>
        <div class="pull-right">
            <span>Likes:
                {{p.rating | length}}</span>
        </div>
    </div>
</div>
